DB_URL=postgresql://user:pass@db:5432/auth


# JWT Configuration
JWT_SECRET=rv3ry53cr3t
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=30

# Database Configuration
DB_USER=user
DB_PASSWORD=password
DB_NAME=auth_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MongoDB Configuration
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB_NAME=user_db

# Service URLs
AUTH_SERVICE_URL=http://auth-service:8000
USER_SERVICE_URL=http://user-service:8000
MAP_SERVICE_URL=http://map-service:8000
AI_SERVICE_URL=http://ai-service:8000
REPORT_SERVICE_URL=http://report-service:8000

# Environment
ENVIRONMENT=development
LOG_LEVEL=INFO